.box{
    background-color: plum;
    border: 10px solid lightseagreen;
    height: 500px;
    width: 500px;
    align-content: center;
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 50%;
}

button{
    background-color: pink;
    border: none;
    color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 690px;
    border-radius: 20%;
    border: 5px dotted palevioletred;
}

button:hover{
    background-color: purple;
    color: pink;
    transition: .5s;
}

h1{
    text-align: center;
    font-family: monospace;
    color: magenta;
    font-size: 400%;
}

body{
    background-color: palegoldenrod;
}