.saira-stencil-one-regular {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'Bagel Fat One', 'Saira Stencil One';
}
  
#body {
    font-family: "Bagel Fat One";
}

#numberContainer {
    position: relative;
    width: 90vw;
    height: 90vh;
    top: 20px;
    border: 4px dotted #840c0c;
    overflow: hidden;
    margin: auto;
    background-image: url("/IMG/appletree.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

#basket {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 160px;
    pointer-events: none;
}

.fallingNumber {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Bagel Fat One', 'Saira Stencil One';
    pointer-events: none;
    user-select: none;
    background-image: url("/IMG/apple.PNG"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    z-index: 1;
}

#phoneDisplay {
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

#clearBut, #finishBut {
    display: block;
    margin: 10px auto;
    background-color: rgb(21, 84, 21);
    color: rgb(255, 255, 104);
    border: none;
    font-family: 'Bagel Fat One';
    text-align: center;
    border-radius: 12px;
    z-index: 3;
}

#clearBut {
    width: 100px;
    height: 40px;
    font-size: 20px;
}

#finishBut {
    width: 300px;
    height: 40px;
    font-size: 20px;
    display: none;
}

#clearBut:hover {
    background-color: lightgreen;
    color: rgb(21, 84, 21);
    transition: .5s;
  }

  #finishBut:hover {
    background-color: lightgreen;
    color: rgb(21, 84, 21);
    transition: .5s;
  }


