body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: flex;
    flex-direction: row;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
    order: 3;
     
}
#flex-child2{
    order: 4;
 
}
#flex-child3{
    order: 2;
 
}
#flex-child4{
    order: 1;
 
}


#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    grid-column-start: 2;
    grid-column-end: 3; 
    border-radius: 25px;
}
#no1{
    border-radius: 25px;
}
#no2{
    border-radius: 25px;
}
#no3{
    border-radius: 25px;
}
#no4{
    border-radius: 25px;
}
#no5{
    border-radius: 25px;
}
#no6{
    border-radius: 25px;
}
#no7{
    border-radius: 25px;
}
#no8{
    border-radius: 25px;
}
#no9{
    border-radius: 25px;
}