body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFD8E;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:40px;
    background-color: #FD5B2D;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: #FFC641;
}

nav:hover {
    background-color: #0261BF;
    transition: background-color 1s;
}

nav a:hover {
    color: #98F863;
    transition: color 1s;
}

img{
    width:50vw;
    height: 50vh;
    margin-top: 20vh;
}

img:hover{
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #F60264;
}

#ball{
    background-color: #F60264;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:20vh;
    animation-name: ball;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 2;
}

@keyframes ball {
    0%{
        left: 5vw;
        top: 20vh;
    }
    25%{
        left: 25vw;
        top: 35vh;
    }
    75%{
        left: 65vw;
        top: 20vh;
    }
    100%{
        left: 100vw;
        top: 35vh;
    }
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(5deg);
    }
}