body {
  --clr-top: rgb(25, 21, 250);
  --clr-side: rgb(4, 149, 202);

  background: rgb(75, 0, 65);
  min-height: 100svh;
  background-image: conic-gradient(
    from 0deg at calc(50% - 170px) calc(50% + 75px),
    black 66deg,
    var(--clr-top) 66deg 120deg,
    var(--clr-side) 120deg 180deg,
    black 180deg
  );
}

.wrapper {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 300px;
  display: grid;
  place-content: center;
  animation: float 1000ms ease-in-out infinite alternate;
}
@keyframes float {
  25% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(-30px);
  }
}
/* shadow */
.wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  translate: 110px 50px;
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, rgba(0 0 0 / 0.25), rgba(0 0 0 / 0.25));
  rotate: 30deg;
  transform: skew(-30deg);
  filter: blur(6px);
  z-index: -1;
  animation: float-shadow 1000ms ease-in-out infinite alternate;
}
@keyframes float-shadow {
  50% {
    translate: 50px 25px;
    scale: .5;
    filter: blur(6px);
  }
  100% {
    translate: 110px 90px;
    scale: 0.85;
    filter: blur(12px);
  }
}
/* cube */
.wrapper img {
  width: 100%;
  object-fit: contain;
}