html {
    --sz: 40px;
    --c1: #ffffff;
    --c2: #fcff2e;
    --ts: 50%/calc(var(--sz) * 10) calc(var(--sz) * 10);
    --bp: calc(var(--sz) * -5) calc(var(--sz) * -5);
    --bg: 
        linear-gradient(90deg, var(--c1) 0 1%, #fff0 0 49%, var(--c1) 0 51%, #fff0 0 99%, var(--c1) 0 100%) var(--ts),
        linear-gradient(0deg, var(--c1) 0 1%, #fff0 0 49%, var(--c1) 0 51%, #fff0 0 99%, var(--c1) 0 100%) var(--ts),
        radial-gradient(circle at 74.5% 25.5%, var(--c1) 0 22.5%, #fff0 calc(22.5% + 1px) 100%) var(--ts),
        conic-gradient(from 0 at 75% 50%, var(--c2) 0 25%, #fff0 0 100%) var(--ts),
        conic-gradient(from 0 at 50% 25%, var(--c2) 0 25%, #fff0 0 100%) var(--ts),
        conic-gradient(from 0 at 50% 50%, var(--c1) 0 25%, #fff0 0 100%) var(--ts),
        conic-gradient(from 0 at 26% 24%, var(--c2) 0 25%, #fff0 0 100%) var(--ts),
        radial-gradient(circle at 25% 25%, var(--c2) 0 22.5%, #fff0 calc(22.5% + 1px) 100%) var(--ts);
    background: var(--bg), var(--bg);
    background-position: var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
}