body {
	margin: 0;
}

@property --x {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --y {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

#ghost-grid {
	block-size: 100svb;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(6, 1fr);
	--x: 0;
	--y: 0;
}

div:has(svg) {
	display: flex;
	container-type: inline-size;

	svg {
		margin: auto;
		inline-size: 100%;
		max-inline-size: 40cqmin;
		block-size: auto;
	}
}

#ghost-grid:has(div:nth-child(1):hover) {
	--x: -1;
	--y: -1;
}

#ghost-grid:has(div:nth-child(2):hover) {
	--x: 0;
	--y: -1;
}

#ghost-grid:has(div:nth-child(3):hover) {
	--x: 1;
	--y: -1;
}

#ghost-grid:has(div:nth-child(4):hover) {
	--x: -1;
	--y: 0;
}

#ghost-grid:has(div:nth-child(5):hover) {
	--x: 0;
	--y: 0;
}

#ghost-grid:has(div:nth-child(6):hover) {
	--x: 1;
	--y: 0;
}

#ghost-grid:has(div:nth-child(7):hover) {
	--x: -1;
	--y: 1;
}

#ghost-grid:has(div:nth-child(8):hover) {
	--x: 0;
	--y: 1;
}

#ghost-grid:has(div:nth-child(9):hover) {
	--x: 1;
	--y: 1;
}

#ghost-grid svg :is(.eye, .dot) {
	transition-property: --x, --y;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	translate: calc(var(--x) * 1px) calc(var(--y) * 1px);
}

#ghost-grid:hover {
	color: darkblue;
	transition: background-color 2s;
}