body{
    background-color: #9DC4DF;
    font-family: 'Courier New', Courier, monospace;
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h1{
    color: #9DC4DF;
    
}


#navBar{
    background-color: #532A5F;
    height: 10vh;
    width: 100vw;
    position: sticky;
    top: 0;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
    order: 1;
    h1 {
        text-align: center;
        font-style: italic;
        font-size: 50px;
        position: relative;
        bottom: 25px;
    }
    h2 {
        text-align: right;
        font-size: 25px;
        position: relative;
        right: 50px;
        color: white;
        background-color: #218A7F;
    }
    z-index: 2;
}

#photobar {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.533), rgba(0, 0, 0, 0.533)),url("/IMG/cso.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 16/9;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    top: 0px;
    box-sizing: border-box;
    h1{
        text-align: center;
        font-style: italic;
        font-size: 35px;
        position: relative;
        top: 500px;
        color: white;
    }
    order: 2;
}

